/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#map {
    width: 100%;
    height: calc(100vh - 160px);
}

.canton-name {
    font-size: 20px;
    font-variant: small-caps;
}

.votes-for {
    color: green;
}

.votes-against {
    color: red;
}

#laws {
    position: fixed;
    left: 0;
    top: 57px;
    height: calc(100vh - 57px * 2);
    width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 999999;
    overflow-y: scroll;
    background-color: white;
}

    #laws .law {
        margin-bottom: 5px;
        box-shadow: 0 8px 5px -5px rgb(128, 128, 128);
        padding: 15px;
        cursor: pointer;
        user-select: none;
        color: black;
    }

        #laws .law.active {
            background-color: rgba(80, 239, 16, 0.15);
            box-shadow: 0 8px 5px -5px rgb(80, 239, 16);
        }

        #laws .law:hover {
            background-color: rgba(8, 210, 255, 0.15);
            box-shadow: 0 8px 5px -5px rgb(20, 153, 252);
        }

        #laws .law .proposal {
            font-style: italic;
        }

        #laws .law .owner {
            font-variant: small-caps;
            color: rgb(128, 128, 128);
        }

        #laws .law .date {
            font-variant: small-caps;
            color: rgb(20, 153, 252);
        }